.select-box {
    display: inline-block;
    margin-right: 20px;
}

.select-box__label {
    color: #fff;
    margin-right: 20px;
    font-size: 1rem;
    margin-bottom: 10px;
    display: inline-block;
}

.select-box__select__select {
    cursor: pointer;
    display: block;
    font-size: 1em;
    max-width: 100%;
    outline: 0;
    background-color: #fff;
    color: #363636;
    appearance: none;
    -webkit-appearance: none;
    align-items: center;
    border: 1px solid transparent;
    border-radius: .375em;
    box-shadow: none;
    height: 2.5em;
    justify-content: flex-start;
    line-height: 1.5;
    padding: calc(.5em - 1px) 40px calc(.5em - 1px) calc(.75em - 1px);
    position: relative;
    vertical-align: top;
    min-width: 120px;
}

.select-box__select {
    position: relative;
    color: #ccc;
    transition: all .35s;
}
.select-box__select:hover {
    color: #666;
}

.select-box__select::after {
    border: 3px solid transparent;
    border-radius: 2px;
    border-right: 0;
    border-top: 0;
    content: " ";
    display: block;
    height: .625em;
    margin-top: -.4375em;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: rotate(-45deg);
    transform-origin: center;
    width: .625em;
    right: 1.125em;
    border-color: #ccc;
    z-index: 4;
    transition: all .35s;
}
.select-box__select:hover::after {
    border-color: #aaa;
}

