@import "base.css";

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    grid-gap: 20px;
    overflow-x: auto;
    padding: 0;
}

.cards:hover .card,
.cards:hover .card--is-selected {
    opacity: .5;
    filter: grayscale(.5);
}

.cards .card,
.cards .card:hover,
.cards .card--is-selected,
.cards .card--is-selected:hover {
    opacity: 1;
    cursor: pointer;
    transition: all ease-in .2s;
    filter: grayscale(0);
    padding: 2px;
    display: flex;
    flex-direction: column;
}
.card,
.card--is-selected {
    border: 1px solid var(--color-eigengrau);
}

.card--is-selected {
    border: 1px solid var(--color-gold);
}

.card__content {
    padding: 5px;
}

.card__title {
    color: #fff;
    font-size: 1em;
    margin-top: 10px;
    font-weight: 600;
}

.card__subtitle {
    color: var(--color-opaque-white);
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.card__image {
    object-fit: cover;
    min-height: 255px;
}
