@import "base.css";

.card,
.card--is-selected {
    padding: 2px;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--color-eigengrau);
}

.card--is-selected {
    border: 1px solid var(--color-gold);
}

.card__content {
    padding: 5px;
}

.card__title {
    color: #fff;
    font-size: 1em;
    margin-top: 10px;
    font-weight: 600;
}

.card__subtitle {
    color: var(--color-opaque-white);
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.card__image {
    object-fit: cover;
    min-height: 255px;
    cursor: pointer;
}
