@import "base.css";

.category,
.category--is-full-height {
    padding: 40px 0;
    display: flex;
    flex-direction: column;
}

.category--is-full-height {
    min-height: 100vh;
}

.category__title {
    text-transform: uppercase;
    color: var(--color-gold);
    font-weight: 100;
    font-size: 2rem;
    line-height: 1;
    margin: 20px auto;
    display: inline-block;
}

.category__title:after {
    content: "";
    background: var(--color-gold);
    height: 1px;
    width: 100%;
    display: inline-block;
}

.category__back-to-top-button,
.category__back-to-top-button:hover {
    color: #fff;
    margin-left: auto;
    font-size: 1em;
    background: none;
    border: 0;
    cursor: pointer;
    padding: 10px;
    text-decoration: underline;
    outline: none;
}

@media(min-width: 768px) {

    .category__back-to-top-button {
        transition: all .35s;
        color: #999;
        opacity: 0;
    }

    .category__back-to-top-button:hover {
        color: #fff;
    }

    .category:hover .category__back-to-top-button {
        opacity: 1;
    }
}
