@import "base.css";

.page {
    box-sizing: border-box;
}

.page__content {
    max-width: 1024px;
    margin: 0 auto;
    padding: 20px;
}

.page__title {
    grid-area: title;
    font-size: 1.6em;
    padding: 0 20px;
    color: #fff;
    font-weight: 100;
}

.page__navbar {
    display: block;
    top: 0;
    z-index: 1;
    padding: 10px;
    background-color: #000;
}
@media (min-width: 768px) {
    .page__navbar {
        display: grid;
        grid-template-columns: 1fr 1024px 1fr;
        grid-template-areas: ". title .";
    }
}

.page__footer {
    background-color: var(--color-dark);
}

.page__footer__content {
    max-width: 1024px;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    padding: 20px;
}
